@page
@model NorumBradenFinal.Pages.tblPlayer.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TblPlayer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPlayer.Attack)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPlayer.Attack)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPlayer.Health)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPlayer.Health)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPlayer.Magicpower)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPlayer.Magicpower)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPlayer.Mana)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPlayer.Mana)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TblPlayer.Playerid">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
